<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.HelpMeRelax_v1_0">

    <application
        android:name=".StoreUserName"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:label="Log In"
            android:name="com.example.HelpMeRelax_v1_0.LoginActivity"/>
        <activity
            android:label="PostSession"
            android:name="com.example.HelpMeRelax_v1_0.PostSessionActivity"/>
        <activity
            android:label="Make Post"
            android:name="com.example.HelpMeRelax_v1_0.MakePost"/>
        <activity
            android:label="Sign Up"
            android:name="com.example.HelpMeRelax_v1_0.SignUp"/>
        <activity
            android:label="Welcome"
            android:name="com.example.HelpMeRelax_v1_0.Welcome">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>

        <activity
            android:name="com.example.HelpMeRelax_v1_0.ChatActivity"
            android:label="@string/chat" />
        <activity
            android:name="com.example.HelpMeRelax_v1_0.HelpActivity"
            android:label="@string/menu_help" />
        <activity
            android:name="com.example.HelpMeRelax_v1_0.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">


        </activity>
    </application>

</manifest>